@import 'setup';

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 40px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Proza Libre', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
}

.hide {
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #5eaaa8;
    p {
        text-align: center;
    }
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), center / cover no-repeat url(../assets/kitchen1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    form {
        transition: visibility 0s ease-in-out 1000ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 89, 69, 0.8);
        color: white;
        width: 600px;
        height: 100px;
        margin-bottom: 20px;

        label {
            justify-self: flex-start;
            font-size: 30px;
        }

        .input-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            input {
                width: 70%;
                height: 30px;
                border: none;
            }

            button {
                margin: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: none;
                font-size: 30px;
                color: white;

                &:hover, &:focus {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

        }
    }  
    
    .list-container {
        transition: visibility 0s ease-in-out 1000ms;
        background-color: white;
        color: black;
        width: 600px;
        height: auto;
        background-color: rgba(163, 210, 202, 0.8);

        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            list-style: none;

            li {
                background-color: white;
                // border: 2px solid black;
                //border-radius: 5px;
                padding: 5px;
                margin: 5px;
            }
        }
    }

    .reset {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
        border: 2px solid black;
        margin: 5px;

        &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .submit-button {
        width: 600px;
        height: 30px;
        background-color: rgba(240, 89, 69, 0.8);
        color: white;
        border: 2px solid white;
        margin: 5px;  
        
         &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.recipe-section {
    visibility: hidden;
    width: 100%;
    height: 75%;
    position: absolute;
//    background-color: rgba(240, 89, 69, 0.8);
    background-color: rgba(163, 210, 202, 0.7);
    display: flex;
    justify-content: center;
    color: white;

   .fridge {
       position: relative;
       background-color: rgba(240, 89, 69, 0.8);
       width: 50%;
       height: auto;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       align-items: center;
       padding: 10px;
   }

   .recipe-title {
       width: 90%;
       border: 2px solid white;
       display: flex;
       align-items: center;
       justify-content: space-around;

       &>div {
           margin: 10px;
       }

       ul {
           margin: 0;
           padding: 0;
       }
   }

    .recipe-image {
        width: 200px;
    }

    .recipe {
        width: 90%;
        padding: 5px 0;
        border: 2px solid white;
    }

    .recipe-link {
        width: 90%;
    }

    button {
        width: 100%;
        height: 30px;
        background-color: rgba(163, 210, 202, 0.7);
        color: white;
        border: 2px solid white; 
        
         &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .closeBtn {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
        color: white;
    }
    
}

footer {
    width: 100%;
    color: white;
    background-color: #a3d2ca;
    display: flex;
    align-items: center;
    justify-content: center;
}
