@import 'setup';
@import 'mixin';

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr 40px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Proza Libre', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;

    @include mobileMQ {
        font-size: 20px;
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
}

.hide {
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #5eaaa8;
    p {
        text-align: center;
    }
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), center / cover no-repeat url(../assets/kitchen.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    form {
        transition: visibility 0s ease-in-out 1000ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 89, 69, 0.8);
        color: white;
        width: 600px;
        height: 100px;
        margin-bottom: 20px;
        border-radius: 10px;

        @include mobileMQ {
            width: 350px;
        }

        @include smallMobileMQ {
            width: 250px;
        }

        label {
            justify-self: flex-start;
            font-size: 30px;
        }

        .input-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            input {
                width: 70%;
                height: 30px;
                border: none;
            }

            button {
                margin: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: none;
                font-size: 30px;
                color: white;

                &:hover, &:focus {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

        }
    }  
    
    .list-container {
        transition: visibility 0s ease-in-out 1000ms;
        background-color: white;
        color: black;
        width: 600px;
        height: auto;
        background-color: rgba(163, 210, 202, 0.8);
        border-radius: 10px;

        @include mobileMQ {
            width: 350px;
        }

        @include smallMobileMQ {
            width: 250px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            list-style: none;

            li {
                background-color: white;
                padding: 5px;
                margin: 5px;
            }
        }
    }

    .reset {
        width: 100px;
        height: 30px;
        background-color: white;
        color: black;
        border: 2px solid black;
        margin: 5px;

        &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .submit-button {
        width: 600px;
        height: 30px;
        background-color: rgba(240, 89, 69, 0.8);
        color: white;
        border: 2px solid white;
        margin: 5px;  
        border-radius: 10px;
        
         &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }

        @include mobileMQ {
            width: 350px;
        }

        @include smallMobileMQ {
            width: 250px;
        }
    }
}

.recipe-section {
    position: absolute;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(163, 210, 202, 0.5);
    display: flex;
    justify-content: center;
    color: black;

   .fridge {
       position: relative;
       background-color: white;
       width: 650px;
       height: 90%;
       top: 5%;
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       align-items: center;
       padding: 10px;
       overflow-y:auto;
        border-radius: 10px;

       @include mobileMQ {
            width: 350px;
        }

        @include smallMobileMQ {
            width: 250px;
        }

        h3 {
            width: 90%;
            margin-bottom: 5px;
            padding: 5px;
            border-top: 2px solid #cac9c9;
            border-bottom: 2px solid #cac9c9;
        }
       
   }

   .recipe-title {
       width: 90%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;

       h2 {
            font-size: 30px;
            margin-top: 20px;

            @include mobileMQ {
                font-size: 20px;
                margin-top: 10px;
            }
       }

       ul {
           margin: 0;
           padding: 0;
       }
   }

   .recipe-image-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid black;
        padding: 20px 0;

        @include mobileMQ {
            flex-direction: column;
            align-items: center;
        }

        .image-container {
            .recipe-image {
                width: 200px;
            }

            @include mobileMQ {
                margin-bottom: 10px;
            }
        }

        h3 {
            width: 100%;
        }

        .recipe-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(90% - 200px);

            @include mobileMQ {
                width: 100%;
            }

            div {
                margin: 5px 0;
            }

            
        }

        .health {
            font-size: 10px;

            ul {
                display: flex;
            }

            div {
                border: 1.5px solid black;
                border-radius: 3px;
                padding: 3px;
                margin: 3px;
            }
        }
   }

    .recipe {
        width: 90%;
        padding: 5px 0;
        ul {
            list-style: square;
        }
        li {
            margin: 7.5px 0;
        }
    }

    .recipe-link {
        width: 90%;
    }

    button {
        width: 100%;
        height: 50px;
        justify-self: flex-end;
        background-color: #5eaaa8;
        color: white;
        border: none;
        
         &:hover, &:focus {
            cursor: pointer;
            opacity: 0.7;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .closeBtn {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
        color: white;
    }
    
}

footer {
    width: 100%;
    color: white;
    background-color: #a3d2ca;
    display: flex;
    align-items: center;
    justify-content: center;
}
