html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 1fr 40px;
      grid-template-rows: 150px 1fr 40px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Proza Libre', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

@media (max-width: 650px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
}

.hide {
  visibility: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  background-color: #5eaaa8;
}

header p {
  text-align: center;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1))), center/cover no-repeat url(../assets/kitchen.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), center/cover no-repeat url(../assets/kitchen.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main form {
  -webkit-transition: visibility 0s ease-in-out 1000ms;
  transition: visibility 0s ease-in-out 1000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(240, 89, 69, 0.8);
  color: white;
  width: 600px;
  height: 100px;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  main form {
    width: 350px;
  }
}

@media (max-width: 350px) {
  main form {
    width: 250px;
  }
}

main form label {
  justify-self: flex-start;
  font-size: 30px;
}

main form .input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

main form .input-container input {
  width: 70%;
  height: 30px;
  border: none;
}

main form .input-container button {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
}

main form .input-container button:hover, main form .input-container button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .list-container {
  -webkit-transition: visibility 0s ease-in-out 1000ms;
  transition: visibility 0s ease-in-out 1000ms;
  background-color: white;
  color: black;
  width: 600px;
  height: auto;
  background-color: rgba(163, 210, 202, 0.8);
}

@media (max-width: 650px) {
  main .list-container {
    width: 350px;
  }
}

@media (max-width: 350px) {
  main .list-container {
    width: 250px;
  }
}

main .list-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  list-style: none;
}

main .list-container ul li {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

main .reset {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin: 5px;
}

main .reset:hover, main .reset:focus {
  cursor: pointer;
  opacity: 0.7;
}

main .submit-button {
  width: 600px;
  height: 30px;
  background-color: rgba(240, 89, 69, 0.8);
  color: white;
  border: 2px solid white;
  margin: 5px;
}

main .submit-button:hover, main .submit-button:focus {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 650px) {
  main .submit-button {
    width: 350px;
  }
}

@media (max-width: 350px) {
  main .submit-button {
    width: 250px;
  }
}

.recipe-section {
  position: absolute;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(163, 210, 202, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.recipe-section .fridge {
  position: relative;
  background-color: white;
  width: 650px;
  height: 90%;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  overflow-y: scroll;
}

@media (max-width: 650px) {
  .recipe-section .fridge {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .recipe-section .fridge {
    width: 250px;
  }
}

.recipe-section .fridge h3 {
  width: 90%;
  margin-bottom: 5px;
  padding: 5px;
  border-top: 2px solid #cac9c9;
  border-bottom: 2px solid #cac9c9;
}

.recipe-section .recipe-title {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe-section .recipe-title h2 {
  font-size: 30px;
  margin-top: 20px;
}

@media (max-width: 650px) {
  .recipe-section .recipe-title h2 {
    font-size: 20px;
    margin-top: 10px;
  }
}

.recipe-section .recipe-title ul {
  margin: 0;
  padding: 0;
}

.recipe-section .recipe-image-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 1px solid black;
  padding: 20px 0;
}

@media (max-width: 650px) {
  .recipe-section .recipe-image-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.recipe-section .recipe-image-info .image-container .recipe-image {
  width: 200px;
}

@media (max-width: 650px) {
  .recipe-section .recipe-image-info .image-container {
    margin-bottom: 10px;
  }
}

.recipe-section .recipe-image-info h3 {
  width: 100%;
}

.recipe-section .recipe-image-info .recipe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(90% - 200px);
}

@media (max-width: 650px) {
  .recipe-section .recipe-image-info .recipe-info {
    width: 100%;
  }
}

.recipe-section .recipe-image-info .recipe-info div {
  margin: 5px 0;
}

.recipe-section .recipe-image-info .health {
  font-size: 10px;
}

.recipe-section .recipe-image-info .health ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe-section .recipe-image-info .health div {
  border: 1.5px solid black;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.recipe-section .recipe {
  width: 90%;
  padding: 5px 0;
}

.recipe-section .recipe ul {
  list-style: square;
}

.recipe-section .recipe li {
  margin: 7.5px 0;
}

.recipe-section .recipe-link {
  width: 90%;
}

.recipe-section button {
  width: 100%;
  height: 50px;
  justify-self: flex-end;
  background-color: #5eaaa8;
  color: white;
  border: none;
}

.recipe-section button:hover, .recipe-section button:focus {
  cursor: pointer;
  opacity: 0.7;
}

.recipe-section button a {
  text-decoration: none;
  color: inherit;
}

.recipe-section .closeBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  color: white;
}

footer {
  width: 100%;
  color: white;
  background-color: #a3d2ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
